<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BVT Test Suite">
  <test thread-count="5" name="BVT Test">
    <classes>
      <class name="TestCase.Student_Login"/>
      <class name="TestCase.TeacherLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
